*{
body{
    background-color: antiquewhite;
}

}

.card{
    background-color: rgb(169, 172, 175);
    width: 70%;
    height: 600px;
 margin: 100px auto ;

}

.card h1{
margin: 20px 10px 20px 10px;
font-weight: 600;
}
.btn{
   
   margin: 15px 100px;
background-color: aqua;
width: 80%;
cursor: pointer;
}

.quiz{
 
    font-weight: 200;
}

.btn:hover{
    background-color: rgb(27, 21, 21);
    color: aliceblue;
}

