

body{
    background-color: rgb(95, 110, 175);
  
}


.card{
    background-color: #ffffff;
    width: 50%;
    height: 600px;
 margin: 100px auto ;

}

.card h1{
margin: 20px 10px 20px 10px;
font-weight: 600;
}
.btn{
   margin-top: 15px;
   margin-left: 90px;
background-color: rgb(219, 226, 226);
width: 80%;
cursor: pointer;
}

.quiz{
 
    font-weight: 200;
}

.btn:hover{
    background-color: rgb(27, 21, 21);
    color: aliceblue;
}

#next-button{
margin-top: 20px;
margin-left: 350px;
 width: 150px;
border: 0;
background-color: rgb(95, 110, 175);
display: none;
}